.sidebar-container{
  background-color: green;
  display:block;
  width:20%;
  height:100%;
}

.socket-wrapper{
  overflow-wrap: anywhere;
  display:flex;
}

.username-container{
  display:flex;
  justify-content:space-between;
  margin-inline: 5px;
}
.pointer{
  cursor:pointer;
}

.notification{
  background-color: red;
  width:8px;
  height:8px;
  border-radius: 50%;
  align-self:center;
}